* {
    margin: 0 auto;
    padding: 0 auto;
}

:root {
    --gray-score: #2C2C2C;
}
body {
    display: block;
    background-image: 
    url(https://www.realmadrid.com/cs/Satellite?blobcol=urldata&blobheader=image%2Fjpeg&blobkey=id&blobtable=MungoBlobs&blobwhere=1203336230949&ssbinary=true)
}

.score {
    text-align: center;
    color: var(--gray-score);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #1d8acf;
    border: 3px solid #000;
}

#porteria {
    position: center;
    width: 732px;
    height: 244px;
    border: 3px solid #000;
    background-color: rgb(208, 226, 43);
}

#tiro {
    position: center;
    width: 1500px;
    height: 470px;
    background-color: green;
    border: 3px solid #000;
}

#borde {
    z-index: 2;
    position: center;
    width: 983.2px;
    height: 225.75px;
    border: 3px solid #ccc;
}

#penalti {
    position: center;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 3px solid #000;
}

#profundo {
    position: center;
    width: 600px;
    height: 160px;
    background-color: darkmagenta;
    border: 3px solid #000;
}

#medialuna {
    width: 200px;
    height: 90px;
    border: 3px solid #ccc;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 0 0 100px 100px ;

}

#ribbon1 {
    position: absolute;
    margin: 20px;
    padding: 2px;
    width: 0px;
    height: 150px;
    border-left: 50px solid red;
    border-right: 50px solid gray;
    border-bottom: 35px solid transparent;
}

#ribbon2 {
    position: absolute;
    margin: 0 1160px;
    padding: 1px;
    width: 5px;
    height: 150px;
    border-left: 50px solid gray;
    border-right: 50px solid red;
    border-bottom: 35px solid transparent; 
}

